/* Стилизация кнопки */

button {
  --button-bg-color: #E5E5E5;
  --button-primary-bg-color: #4263EB;
  --button-primary-hover-bg-color: #2342C0;
  --button-secondary-bg-color: #7048E8;
  --button-alternate-bg-color: #ACB5BD;
  --button-secondary-hover-bg-color: #5028C6;
  --button-alternate-hover-border-color: #212429;
  --button-primary-color: #FFFFFF;
  --button-secondary-color: #FFFFFF;
  --button-alternate-color: #495057;
}

.button {
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500 Medium;
    font-size: 16px;
    line-height: 18.75px;
    /* identical to box height */
    text-align: center;
    text-decoration: none;
    background-color: var(--button-bg-color);
    width: 189px;
    height: 48px;
    border-radius: 8px;  
    box-sizing: border-box;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  }
  
  .button_primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-bg-color);
  }
  
  .button_secondary {
    background-color: var(--button-secondary-bg-color);
    color:var(--button-secondary-color);
  }
  
  .button_alternate {
    border-color: var(--button-alternate-bg-color);
    color: var(--button-alternate-color);
  }
  
  .button_primary:hover {
    background-color: var(--button-primary-hover-bg-color);
  }
  .button_secondary:hover {
    background-color: var(--button-secondary-hover-bg-color);
  }
  .button_alternate:hover {
    border: 1px solid;
    border-color: var(--button-alternate-hover-border-color);
    
  }
  
  .button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  