header {
    background-color: #F50000;
    color: white;
    text-align: center;
}

nav {
    background-color: #FF9400;
    color : white;
    margin-bottom: -10px;
}

A {
    color: white;
}

A:visited {
    color: white;
}

main {
    background-color: #00A143;
    color: white;
}

article {
    background-color: #1121FF;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

footer {
    background-color: #CD00FF;
    color : white;
    text-align: center;
}