.avatar {

    --padding: 24px;

    width: 164px;
    height: 164px;
    
    background: white;

    /* Card Shadow */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 8px;
}

.avatar__image {
    padding: var(--padding);
    width: 116px;
    height: 116px;
    background: white;
    border-radius: 50%;
}