.container {
    padding: 25%; /* shift content, because pop-up element have not enough space */
}

.tooltip {
    position: relative;
}

.tooltip__icon {
    background-image: url("../../assets/images/Help.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.tooltip__message {
    display: none;
    position: absolute;
    width: 100px;

    padding: 13px 21px 8px 21px;
    transform: translateX(-43%);
    top:-58px;

    background: var(--light-blue);

    /* p */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;

    /* Gray 2 */
    color: var(--grey-2);

    /* Card Shadow */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    z-index: 1;
}

.tooltip__message-triangle {
    display: none;
    position: absolute;
    border-top: 14px solid var(--light-blue);
    border-right: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid transparent;
    transform: translateX(-7%);
    top:-14px;
    z-index: -1;
}

.tooltip__icon:hover ~ .tooltip__message {
    display: initial;
}

.tooltip__icon:hover ~ .tooltip__message-triangle {
    display: inline-block;
}